{% load schema_editor_tags %}
{% load labelling_tool_tags %}

<!doctype html>
<html lang="en">
    <head>
        <title>UEA Computer Vision - Schema Editor</title>

        {% include "inline/schema_editor_css.html" %}
        {% include "inline/schema_editor_scripts.html" %}
    </head>

    <body>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "example_labeller:home" %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Schema editor</li>
                </ol>
            </nav>


            <h1>UEA Computer Vision - Labelling Tool example Django App - schema editor</h1>


{#            {% url 'example_labeller:class_editor$' as class_editor_url %}#}
{#            {% url 'example_labeller:class_editor_update' as update_url %}#}
{#            {% url 'example_labeller:class_editor_form' as form_url %}#}

{#            {% class_editor colour_schemes groups update_url form_url class_editor_url %}#}


            {% url 'example_labeller:schema_editor_api' as update_url %}

            {% schema_editor schema update_url %}
        </div>

    </body>
</html>