{% load labelling_tool_tags %}

<html>
    <head>
        <title>UEA Computer Vision - Labelling Tool</title>

        <link rel="stylesheet" href="/static/bootstrap-4.3.1.min.css">
        <link rel="stylesheet" href="/static/open-iconic/css/open-iconic-bootstrap.css">

        <script src="/static/jquery-3.3.1.min.js"></script>
        <script src="/static/popper-1.14.7.min.js"></script>
        <script src="/static/bootstrap-4.3.1.min.js"></script>

        <script src="/static/js.cookie.js"></script>
    </head>

    <body>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <h1>UEA Computer Vision - Labelling Tool example Django App</h1>

    <a class="btn btn-success" href="{% url "example_labeller:tool" %}">Labelling tool</a>


    </body>
</html>