        <script src="/static/jquery-3.6.0.min.js"></script>
        <script src="/static/jquery-ui-1.12.1.custom/jquery-ui.min.js">
        <script src="/static/popper-1.14.7.min.js"></script>
        <script src="/static/bootstrap-4.3.1.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>

        <script src="/static/js.cookie.js"></script>
        <script src="/static/json2.js"></script>
        <script src="/static/spectrum.js"></script>
        <script src="/static/Sortable-1.10.0-rc3.js"></script>

        <script src="/static/schema_editor/label_class_editor.js"></script>
