<div id="{{ tool_id }}"></div>


<script>
    (function () {
        var request_image = function(image_id) {
            $.ajax({
                type: 'GET',
                url: '{{ get_image_descriptor_url }}' + '?image_id=' + image_id,
                success: function(msg) {
                    var in_image = msg;
                    var image = {
                        width: in_image.width,
                        height: in_image.height,
                        href: in_image.href,
                        label_header: in_image.label_header
                    };
                    tool.setImage(image);
                },
                dataType: 'json'
            });
        };

        var send_label_header = function(label_header) {
            var labels_json_str = JSON.stringify(label_header);

            // Create the POST data
            var post_data = {
                labels: labels_json_str
            };

            $.ajax({
                type: 'POST',
                url: '{{ update_labels_url }}',
                data: post_data,
                success: function(msg) {
                },
                dataType: 'json'
            });
        };

        var tool = LabellingTool();
        tool.initialise($("#{{ tool_id }}")[0],
                {{ label_classes | safe }},
                {{ width }},
                {{ height }},
                {{ image_ids | safe }},
                {{ initial_image_id | safe }},
                request_image,
                send_label_header,
                {{ config | safe }}
        );


        // CSRF Token setup
        var csrf = Cookies.get('csrftoken');
        if (csrf != null) {
            // Adapted from Django DOCS
            var csrfSafeMethod = function(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };

            $.ajaxSetup({
                crossDomain: false,
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader('X-CSRFToken', csrf);
                    }
                }
            });
        }
    })();
</script>