<script src="/static/labelling_tool/math_primitives.js"></script>
<script src="/static/labelling_tool/object_id_table.js"></script>
<script src="/static/labelling_tool/label_class.js"></script>
<script src="/static/labelling_tool/abstract_label.js"></script>
<script src="/static/labelling_tool/abstract_tool.js"></script>
<script src="/static/labelling_tool/select_tools.js"></script>
<script src="/static/labelling_tool/point_label.js"></script>
<script src="/static/labelling_tool/box_label.js"></script>
<script src="/static/labelling_tool/composite_label.js"></script>
<script src="/static/labelling_tool/polygonal_label.js"></script>
<script src="/static/labelling_tool/group_label.js"></script>
<script src="/static/labelling_tool/main_tool.js"></script>
<script src="/static/labelling_tool/root_label_view.js"></script>
