<div id="{{ tool_id }}"></div>


<script>
    (function () {
        var get_labels = function(image_id) {
            $.ajax({
                type: 'GET',
                url: '{{ get_labels_url }}' + '?image_id=' + image_id,
                success: function(label_header) {
                    tool.loadLabels(label_header, null);
                },
                dataType: 'json'
            });
        };

        var update_labels = function(label_header) {
            var labels_json_str = JSON.stringify(label_header);

            // Create the POST data
            var post_data = {
                labels: labels_json_str
            };

            $.ajax({
                type: 'POST',
                url: '{{ update_labels_url }}',
                data: post_data,
                success: function(msg) {
                },
                dataType: 'json'
            });
        };

        var tool = new labelling_tool.LabellingTool($("#{{ tool_id }}")[0],
                {{ label_classes | safe }},
                {{ width }},
                {{ height }},
                {{ image_descriptors | safe }},
                {{ initial_image_index | safe }},
                get_labels,
                update_labels,
                {{ config | safe }}
        );


        // CSRF Token setup
        var csrftoken = Cookies.get('csrftoken');
{#        var csrftoken = '{{ csrf_token }}';#}
        if (csrftoken != null) {
            // Adapted from Django DOCS
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }
    })();
</script>